.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}



/* navber design start */
.nav-logo{
    text-align: left;
}

.nav-heading h1{
    text-align: right;
}
.navbar-menu{
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-menu a{
    padding:5px 10px;
    margin:20px 0;
    background-color: transparent;
}
/* navber design end */



/* Profile design starts from here */
.profile .top-sun-icon{
    right:100px;
    transition: width 2s height 2s transform 2s;
}
.profile .top-sun-icon:hover{
    width:170px;
    height:170px;
}
.profile-desc p{
    color:gray;
    text-align: center;
    margin:0 auto;
    margin-bottom: 10px;
    width:50%;
}
.profile .bottom-sun-icon{
    left:140px;
    transition: width 5s height 5s transform 5s;
}
.profile .bottom-sun-icon:hover{
    width:170px;
    height:170px;
}
/* Profile design ends here */



/* About me design starts here */
.aboutme-image{
    top:150px;
}
.aboutme-image img{
    height: 270px;
    width: 270px;
}
.aboutme-desc p{
    text-align: left;
}
/* About me design ends here */



/* my-details design starts here */
.my-details{
    padding: 1% 5%;
}
/* my-details design ends here */



/* Achievement-contact design starts from here */
.achievement{
    padding-right:50px;
}
.media-buttons{
    margin-top:100px;
}
/* Achievement-contact design ends here */



/* footer design starts from here */
.footer-menu{
    margin-top:12px;
}
.footer-menu a{
    display:inline;
    margin:10px;
}
/* footer design ends here */